In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('covariance_robust.csv')

In [5]:
df

          0         1         2         3         4         5
0  0.018868  0.003261  0.003383  0.010570 -0.002369  0.002779
1  0.003261  0.023019 -0.010925 -0.017166  0.013723 -0.005590
2  0.003383 -0.010925  0.016269  0.007329 -0.017218  0.009967
3  0.010570 -0.017166  0.007329  0.024543 -0.008199  0.004440
4 -0.002369  0.013723 -0.017218 -0.008199  0.020721 -0.009156
5  0.002779 -0.005590  0.009967  0.004440 -0.009156  0.007308